/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/*
/.bref/ .vapor/
.env.production
.env.staging
.env.dev
.vapor
vapor.yml

.envault.json